# macOS system files
.DS_Store
.vscode

# User-specific files
*.swp
.DS_Store
.AppleDouble
.LSOverride

# Logs and databases
*.log
*.sql
*.sqlite

# Virtual environments
venv/
env/
.env/

# output data
benchmarking/exdata/
benchmarking/midaco/exdata/

# Compiled Python files
__pycache__/
.ipynb_checkpoints